@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  /* background-color: red; */
  text-align: center;
  font-family: 'Pretendard', 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

.loginArea {
  width: 350px;
  outline: 1px solid rgb(219, 219, 219);
  outline-offset: 1px;
  margin: 28px auto;
  border-radius: 0.1px;
  margin-bottom: 15px;
}

.SG_Instagram img{
  margin: 20px auto;
  margin-bottom: 10px;
  /* display: flex; */
  /* justify-content: center; */
}

.login {
  /* background-color: red; */
  /* display: flex; */
  display: grid;
  justify-content: center;
}

.login input {
  width: 258px;
  height: 35px;
  margin-bottom: 5px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
  padding-left: 9px;
  font-weight: 400;
  font-size: 13px;
}

.login input:focus {
  border-width: 1.2px;
  border-color: #A8A8A8;
  outline: none;
}

.loginBtn {
  margin-top: 10px;
  height: 33px;
  background-color: #67B5FA;
  /* background-color: #0095F6; */
  border: none;
  border-radius: 10px;
}
.loginBtn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.or_line {
  display: flex;
  justify-content: center;
}

.or_line .line{
  height: 0px;
  width: 100px;
  border: .5px solid #dbdbdb;
  margin: auto 0px;
}

.or_line p {
  font-size: .8125rem;
  font-weight: 600;
  color: rgb(115, 115, 115);
  margin: 20px 10px;
}

.forgotPwd {
  padding-bottom: 25px;
}

.forgotPwd a{
  font-size: 14px;
  color: #00376b;
}

.registerArea {
  width: 350px;
  height: 60px;
  outline: 1px solid rgb(219, 219, 219);
  outline-offset: 1px;
  margin: 10px auto;
  border-radius: 0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerArea p {
  font-size: 14px;
}

.register a{
  font-weight: bolder;
  color: rgb(0, 149, 246);
}


@media (max-width : 500px){

  /* 모바일 화면에서는 테두리가없음 */

  .loginArea {
    outline: none;
  }
  
  .registerArea {
    outline: none;
  }
  
}